<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.bootique.mybatis.testmappersxml1.T4Mapper">
    <update id="createT4">
        CREATE TABLE "t4" ("c1" INT, "c2" VARCHAR(10))
    </update>
    <insert id="insertT4">
        INSERT INTO "t4" ("c1", "c2") values (7, 'y')
    </insert>
    <select id="find" resultType="io.bootique.mybatis.testpojos.TO4">
        SELECT "c1", "c2" FROM "t4" WHERE "c1" = #{c1}
    </select>
</mapper>